@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply transition-all duration-300
}

.tabDiv div button {
    @apply text-center w-full text-gray-50 relative pb-3;
}

.tabDiv div button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 9px;
    background-color: #8b5cf6; /* Violet color */
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    border-radius: 20px 20px 0 0;
}

.tabDiv div button.active::after {
    width: 100%;
    left: 0;
}

div .active {
    @apply !text-violet-400;
}


/* Admin Panel */
table {
    table-layout: fixed;
    @apply overflow-x-auto;

}

tr * {
    @apply border-x text-center overflow-auto min-w-[12.5%];
}

th {
    @apply bg-orange-300
}

#semesterChoose option {
    @apply bg-white text-black;
    font-family: Arial, Helvetica, sans-serif;
}